<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenido a mi biblioteca de libros</h1>
    <p>Esta es la página de inicio económica</p>

    <form action="{{ url_for('agregar') }}" method="get">
        <button type="submit">Ir a agregar un librito</button>
    </form> <!-- Cerramos el primer formulario aquí -->

    <form action="{{ url_for('listar') }}" method="get">
        <button type="submit">Ver listita</button>
    </form> <!-- Cerramos el segundo formulario correctamente -->
</body>
</html>
