<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  LISTADO  </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Aca esta el listado de peliculas</h1>
    <br>

    <ul>
    {%for pelicula in listado%}
    <li> {{pelicula}} </li>
    {% endfor %}
    </ul>
    <br>

    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">volver</button>
    
    </form>
</body>
</html>
