<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  SCORES  </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Resultados Históricos</h1>

    <!-- Tabla de resultados -->
    <table>
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Puntaje</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in listado %}
            <tr>
                <td>{{ resultado.usuario }}</td>
                <td>{{ resultado.puntaje }}</td>
                <td>{{ resultado.fecha }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botón para volver -->
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Volver al Inicio</button>
    </form>
    
</body>

</html>